@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
}
.view-area {
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

table, th, td {
  border: 1px solid;
}

